@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap');

@layer reset {
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@layer ui-kti {
    :root {
        --clr-primary-dark: #102C57;
        --clr-primary-light: #FEFAF6;
        --clr-primary-middle: #EADBC8;
        --clr-primary-beige: #DAC0A3;
        --clr-grid: #dfdfdf;
        font-family: "Big Shoulders Text", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: var(--clr-primary-dark);
    }
    
}

@layer layout {
    .container {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    form {
        margin-bottom: 10px;
    }
    .clear-btn {
        margin-bottom: 10px;
    }
}

@layer decoration {
    body {
        text-align: center;
        background: linear-gradient(to bottom, var(--clr-primary-light), #FEFAF6);
    }
    .container {
        box-sizing:content-box;
        background-color: white;
        border: 0.5px solid var(--clr-grid);
        margin-bottom: 20px;
    }
    .cell {
        border: 0.5px solid var(--clr-grid);
    }
    .header {
        color: var(--clr-primary-dark);
        text-align: center;
        padding: 30px 0;
    }
    .grid-size-input {
        text-align: center;
        margin-bottom: 20px;
    }
    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
        width: 15rem;
        margin-bottom: 10px;
    }
    input[type="range"]::-webkit-slider-runnable-track {
        background: var(--clr-primary-middle);
        height: 0.5rem;
        border-radius: 2px;
    }
    input[type="range"]::-moz-range-track {
        background: #b6b7b8;
        height: 0.5rem;
        border-radius: 2px;
    }
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        border: none;
        border-radius: 3px;
        margin-top: -6px;
        background-color: var(--clr-primary-beige);
        height: 1.2rem;
        width: 0.6rem;    
    }
    input[type="range"]::-moz-range-thumb {
        border: none;
        border-radius: 0;
        margin-top: -12px;
        background-color: var(--clr-primary-beige);
        height: 1rem;
        width: 1rem; 
    }
    input[type="range"]:focus {
        outline: none;
    }
    button {
        border: 1px solid var(--clr-primary-beige);
        border-radius: 3px;
        padding: 0.35rem 1rem;
        background: var(--clr-primary-light);
        cursor: pointer;
        &:hover {
            background: white;
        }
    }
    .change-mode {
        & > input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 3px;
            width: 14px;
            height: 14px;
            border: 1px solid var(--clr-primary-beige);
            transition: 0.2s all linear;
            outline: none;
            margin-right: 2px;
            position: relative;
            top: 2px;
            cursor: pointer;
            &:checked {
                box-shadow: 0 0 0 1px var(--clr-primary-beige);
                background: var(--clr-primary-beige);
                border: 2px solid var(--clr-primary-light);
            }
            &:hover {
                border-width: 2px;
            }
        }
        & > label {
            margin-right: 10px;
        }
    }
}